.grafico-container {
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}


@-moz-document url-prefix() {
    .grafico-container {
        width: 100%;
        #grafico-de-barras{
            width: 0%;
        }
        
    }
}




#grafico-de-barras {
    width: 100%;
    border: 1px solid;
    border-image: linear-gradient(45deg, #ff00aa, #27b7f2);
    border-image-slice: 1;
    color: #ffffff;
    padding: 20px;
    margin: 10px auto;
    min-width: 50%;
    height: auto;
    text-align: center;
    font-size: 1.5em;
    background: white;
    
}


.grafico-feedback{
    width: auto;
    border: 1px solid;
    border-image: linear-gradient(45deg, #ff00aa, #27b7f2);
    border-image-slice: 1;
    color: #ffffff;
    padding: 20px;
    margin: 10px auto;
    min-width: 50%;
    height: auto;
    text-align: center;
    font-size: 1.5em;
    background: white;
    
}

