
.news-button {
    padding: 10px 20px;
    cursor: pointer;
}
.carousel-container {
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.carousel-image {
    display: none;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-image: linear-gradient(45deg, #ff00aa, #27b7f2); 
    border-image-slice: 1; 
}


.custom-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-size: cover;
    color: white;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

@media (max-width: 767px) {
    .carousel-container {
        max-width: 100%; 
    }
}

.info{
    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    color: white;
}

