{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Energeasy{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}" media="screen and (min-width: 600px)">
    <link rel="stylesheet" href="{% static 'general/css/noticias.css' %}" media="screen and (min-width: 600px)">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/neon.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/consumo.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/Pagina_inicial.css' %}">
    <link rel="stylesheet" href="{% static 'general/css_mobile/baseMobile.css' %}" media="screen and (max-width: 599px)">
    <link rel="stylesheet" href="{% static 'general/css_mobile/noticiasMobile.css' %}" media="screen and (max-width: 599px)">
    <link rel="stylesheet" href="{% static 'general/css_mobile/neonMobile.css' %}" media="screen and (max-width: 599px)">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% endblock %}
</head>
<body>
    <div class="background"></div>
    <div class="sidebar">
        <br>
        <br>
        <div class="logo-details"> 
            <img src="{% static 'logo.png' %}" alt="Logo" class="logo_image" id="logoImage" style="display:none;">
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <br>
        <ul class="nav-list">
            <li>
                <a href="{%url 'inicial'%}" class="iconesLaterais">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Página inicial</span>
                </a>
                <span class="tooltip">Página inicial</span>
            </li>
            <li>
                <a href="{%url 'clientes'%}" class="iconesLaterais"> 
                    <i class='bx bx-folder-plus'></i>
                    <span class="links_name">Cadastrar dispositivo</span>
                </a>
                <span class="tooltip">Cadastrar dispositivo</span>
            </li>
            <li>
                <a href="{%url 'gerenciar'%}" class="iconesLaterais"> 
                    <i class='bx bxs-devices'></i>
                    <span class="links_name">Gerenciar Dispositivos</span>
                </a>
                <span class="tooltip">Gerenciar Dispositivos</span>
            </li>
            <li>
                <a href="{%url 'consumo'%}" class="iconesLaterais"> 
                    <i class='bx bx-sort-up'></i>
                    <span class="links_name">Veja seu consumo</span>
                </a>
                <span class="tooltip">Veja seu consumo</span>
            </li>
            <li>
                <a href="{%url 'noticias'%}" class="iconesLaterais"> 
                    <i class='bx bx-notepad'></i>
                    <span class="links_name">Notícias e informações</span>
                </a>
                <span class="tooltip">Notícias e informações</span>
            </li>
            <li>
                <a href="{%url 'feedback'%}" class="iconesLaterais"> 
                    <i class='bx bx-info-circle'></i>
                    <span class="links_name">feedback</span>
                </a>
                <span class="tooltip">feedback</span>
            </li>

        </ul>
    </div>
        </ul>
    </div>
    
    
    {% block 'dashboard'%}
        {% endblock %}
       
                {% csrf_token %}
                
            </form></div>
    </section>
    <section>
        
    </section>
    {%block 'body'%}
    {%endblock%}
    
    
    <script src="{% static 'general/js/base.js' %}"></script>
    <script src="{% static 'jquery@3.5.1/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>
